POSTGRES_DB=gestortarefas
POSTGRES_USER=gestor
POSTGRES_PASSWORD=gestor
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@local.dev
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

DB_HOST=localhost
DB_PORT=5432
SPRING_PROFILES_ACTIVE=dev
